<%- include("../layout/head",{title: "Thông tin sản phẩm" } )%>
    <%- include("../layout/header")%>
        <%- include("../layout/sidebar")%>

            <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
                <div class="row">
                    <ol class="breadcrumb">
                        <li><a href="#"><svg class="glyph stroked home">
                                    <use xlink:href="#stroked-home"></use>
                                </svg></a></li>
                        <li class="active">Danh sách sản phẩm</li>
                    </ol>
                </div><!--/.row-->

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Danh sách sản phẩm</h1>
                    </div>
                </div><!--/.row-->
                <div id="toolbar" class="btn-group">
                    <a href="/admin/products/create" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i> Thêm sản phẩm
                    </a>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table data-toolbar="#toolbar" data-toggle="table">

                                    <thead>
                                        <tr>
                                            <th data-field="id" data-sortable="true">ID</th>
                                            <th data-field="name" data-sortable="true">Tên sản phẩm</th>
                                            <th data-field="price" data-sortable="true">Giá</th>
                                            <th>Ảnh sản phẩm</th>
                                            <th>Trạng thái</th>
                                            <th>Danh mục</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var stt=skip+1%>
                                            <%for(product of products) { %>
                                                <tr>
                                                    <td style="">
                                                        <%=stt%>
                                                    </td>
                                                    <td style="">
                                                        <%=product.name%>
                                                    </td>
                                                    <td style="">
                                                        <%=new Intl.NumberFormat("vi-VN", { style: "currency" ,
                                                            currency: "VND" , minimumFractionDigits: 0,
                                                            }).format(product.price)%>
                                                    </td>
                                                    <td style="text-align: center"><img width="130" height="180"
                                                            src="/static/images/<%=product.thumbnail[0]%>" /></td>
                                                    <td><span class="label <%=product.is_stock? " label-success"
                                                            : "label-danger" %>">
                                                            <%=product.is_stock? "Còn hàng" :"Hết hàng" %>
                                                        </span></td>
                                                    <td>
                                                        <%=product.cat_id.title%>
                                                    </td>
                                                    <td class="form-group">
                                                        <a href="/admin/products/edit/<%=product._id%>"
                                                            class="btn btn-primary"><i
                                                                class="glyphicon glyphicon-pencil"></i></a>
                                                        <a href="/admin/products/delete/<%=product._id%>"
                                                            class="btn btn-danger"><i
                                                                class="glyphicon glyphicon-remove"></i></a>
                                                    </td>
                                                </tr>
                                                <%stt+=1;}%>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <%if(page>1){%>
                                            <li class="page-item"><a class="page-link"
                                                    href="/admin/products?page=<%=page-1%>">&laquo;</a></li>
                                            <%}%>
                                                <%for(pageNum of pages) { %>
                                                    <%if(pageNum==="...") { %>
                                                        <li class="page-item"><span>
                                                                <%=pageNum%>
                                                            </span></li>
                                                        <%}else {%>
                                                            <li class="page-item <%= pageNum===page? 'active' : ''%>"><a
                                                                    class="page-link"
                                                                    href="/admin/products?page=<%=pageNum%>">
                                                                    <%=pageNum%>
                                                                </a></li>
                                                            <%}%>
                                                                <%}%>
                                                                    <%if(page < totalPage) { %>
                                                                        <li class="page-item"><a class="page-link"
                                                                                href="/admin/products?page=<%=page+1%>">&raquo;</a>
                                                                        </li>
                                                                        <%}%>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div> <!--/.main-->

            <script src="js/jquery-1.11.1.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/bootstrap-table.js"></script>

            <%- include("../layout/footer")%>